Client_wsdl/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8787/?xsd=1"/>
</xsd:schema>
</types>
<message name="CoversionEuroToDH">
<part name="parameters" element="tns:CoversionEuroToDH"/>
</message>
<message name="CoversionEuroToDHResponse">
<part name="parameters" element="tns:CoversionEuroToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="ListCompte">
<part name="parameters" element="tns:ListCompte"/>
</message>
<message name="ListCompteResponse">
<part name="parameters" element="tns:ListCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="CoversionEuroToDH">
<input wsam:Action="http://ws/BanqueService/CoversionEuroToDHRequest" message="tns:CoversionEuroToDH"/>
<output wsam:Action="http://ws/BanqueService/CoversionEuroToDHResponse" message="tns:CoversionEuroToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="ListCompte">
<input wsam:Action="http://ws/BanqueService/ListCompteRequest" message="tns:ListCompte"/>
<output wsam:Action="http://ws/BanqueService/ListCompteResponse" message="tns:ListCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CoversionEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8787/"/>
</port>
</service>
</definitions>